<% @books.each do |book| %>
	<tbody>
		<tr>
			<td><%= link_to user_path(book) do %>
					<%= attachment_image_tag book.user, :profile_image, :fill, 40, 40, format: 'jpeg', class: "pull-left profile-img", fallback: "no_image.jpg", size:'40x40' %>
				<% end %></td>
			<td><%= link_to book_path(book.id) do %>
					<%= book.title %>
				<% end %></td>
			<td><%= book.body %></td>
			<!-- いいねへのrender -->
			<td id="favorites_<%= book.id %>">
					  <%= render 'books/favorite',book: book %></td>
			<!-- コメントここから -->
			<td><%= link_to "コメント数:#{book.book_comments.count}",book_path(book.id) %></td>
		</tr>
	</tbody>
<% end %>