<div class="col-xs-3">
<!-- これはサイドバー -->
<!-- 空白で投稿された場合エラーメッセージを表示させる -->
  <% if @new_book.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= @new_book.errors.count %> errors prohibited this obj from being saved:</h2>
      <% @new_book.errors.full_messages.each do |message| %>
        <%= message %>
      <% end %>
    </div>
  <% end %>
  <!-- エラーメッセージここまで -->
  <!-- ログインしていたらサイドバーを表示させる -->
  <% if user_signed_in? %>
    <!-- ここからプロフィール -->
    <h2>User info</h2>
    <!-- ユーザのプロフィール画像 -->
    <%= attachment_image_tag user, :profile_image, :fill, 100, 100, class: "pull-left profile-thumb", fallback: "no_image.jpg" %>
    <table class="table table-condensed">
      <tr>
        <td><strong>name</strong></td>
        <td><strong><%= user.name %></strong></td>
      </tr>

      <tr>
        <td><strong>introduction</strong></td>
        <td><strong><%= user.introduction %></strong></td>
      </tr>

     <!-- カレントユーザーにはフォローボタンを表示させない-->
     <% unless current_user == user %>
       <% if current_user.following?(user) %>
         <%= form_for(current_user.relationships.find_by(follow_id: user.id), html: { method: :delete }) do |f| %>
            <%= hidden_field_tag :follow_id, user.id %>
            <tr><td><%= f.submit 'Unfollow', class: 'btn btn-danger btn-block' %></td></tr>
          <% end %>
        <% else %>
          <%= form_for(current_user.relationships.build) do |f| %>
            <%= hidden_field_tag :follow_id, user.id %>
            <tr><td><%= f.submit 'Follow', class: 'btn btn-primary btn-block' %></td></tr>
          <% end %>
        <% end %>
      <% end %>
    </table>

    <p>フォロー数</p>
    <p><%= link_to @user_profire.followings.count,following_user_path(@user_profire) %></p>
    <p>フォロワー数</p>
    <p><%= link_to @user_profire.followers.count,follower_user_path(@user_profire) %></p>

    <!-- クラス：ボタン、レンチのアイコン -->
    <%= link_to "",edit_user_path(@user_profire.id), class: "btn btn-default  btn-block glyphicon glyphicon-wrench" %>
      <!-- ここまでプロフィール -->

      <!-- 新規投稿画面ここから -->
    <h2>New book</h2>
      <!-- form_for部分 -->
    <%= form_for(@new_book, url: books_path) do |f| %>
      <div class="field row">
        <%= f.label:title %>
        <%= f.text_field :title, class:"col-xs-12 book_title" %>
        <br>
      </div>

      <div class="actions row">
        <%= f.label:body, "Option" %>
        <%= f.text_area :body, class:"col-xs-12 book_body" %>
        <br>
      </div>

        <input type="submit" name="commit" value="Create Book" class="btn btn-primary col-xs-12" data-disable-with="Create Book">
    <% end %>
  <% end %>
</div>
<!-- 新規投稿画面ここまで -->
